/*********************************************************\
						ACTIONBAR
\*********************************************************/


.web-actionbar	{
	position: absolute;
	top: 5px;
	right: 5px;
}

.web-actionbar .dropdown-menu {
	padding: 0;
	margin: 0;
	min-width: 0;
	background: none;
	border: 1px solid rgba(0,0,0,0);
}

.web-actionbar .dropdown-menu > li > a {
	padding: 6px 8px;
	color: #fff;
	margin-top: 0;
}

.dropdown-login {
	min-width: 250px;
}


.btn i.fa {
	font-size: 14px;
}


.no-top-margin {
	margin-top: 0;
}

.no-v-margin {
	margin-top: 0;
	margin-bottom: 0;
}

/*********************************************\
				  APPRISE
\*********************************************/
.apprise-overlay {
	background-color: rgba(25,33,30,0.85);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%
}

div.apprise {
	text-shadow: none;
	background : #222;
	border: 1px solid #aaa;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	-mox-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	display: none;
	left: 40%;
	max-height: 90%;
	overflow: hidden;
	position: fixed;
	top: -100%;
	width: 20%;
}

div.apprise .apprise-inner {
	padding: 10px;
	max-height: 200px;
	overflow-y: scroll;
}

div.apprise .apprise-input {
	margin-top: 10px;
	padding: 10px 0
}

div.apprise .apprise-input input {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	-mox-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	display: block;
	font-size: 13px;
	margin: 0 auto;
	padding: 5px 10px;
	width: 90%
}

div.apprise .apprise-input input:focus {
	border-color: #01aef0;
	outline: 0
}

div.apprise .apprise-buttons {
	background: #222;
	border-top: 1px solid #aaa;
	box-shadow: inset 0 1px 0 #fff;
	padding: 10px 20px;
	text-align: right
}

div.apprise .apprise-buttons button {
	background: #333;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	cursor: pointer;
	margin: 0 2px;
	overflow: hidden;
	padding: 5px 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}

div.apprise .apprise-buttons button.blue {
	background: #01aef0
}

div.apprise .apprise-buttons button.red {
	background: #d23a30
}

div.apprise .apprise-buttons button.blue,div.apprise .apprise-buttons button.red
	{
	color: #666;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4)
}

div.apprise .apprise-buttons button:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 3px
		rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 3px
		rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 3px
		rgba(0, 0, 0, 0.4)
}

div.apprise .apprise-buttons button:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0
		rgba(255, 255, 255, 0.8)
}

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/
#web-scrolltotop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 51px;
	height: 51px;
	border: none;
	text-indent: 100%;
	background: url(../images/web/ui.totop.png) no-repeat left top;
	cursor: pointer;
	z-index:99999;
}

#web-scrolltotop:active,
#web-scrollertop:focus {
	outline: none;
}


span.web_validator_error {
	display: block;
}



/* LOADER */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#web-status {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
	background-color: rgba(15,15,15,0.4);
}
#web-status i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 72px;
	color: #00ff00;
}


/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading #web-status {
    display: block;
}

/*********************************************\
		     XDEBUG beautifying
\*********************************************/

.xdebug-error {
	font-size: 12px;
	width: 95%;
	margin: 0 auto 10px auto;
	border-color: #666;
	background: #ccc;
	text-shadow: none;
}

.xdebug-error th,
.xdebug-error td {
	padding: 2px;
}

.xdebug-error th {
	background: #333;
	font-size: 1.2em;
}

.xdebug-error td {
	background: #fee;
}

.xdebug-error tr td {
	color: #333 !important;
}

.xdebug-error span {
	display: none;
}

.xdebug-error_description th {
	font-size: 1.2em;
}

.xdebug-error_callStack th {
	background: #666;
	color: #ddd;
}
